
header {
	background: #eee;
	margin: 20px auto;
	margin-bottom: 0px;
	height: 100px;
}



#side {
	background: #eee;
	height: 200px;
	margin-top: 20px;
}

#test{ 
	margin: 20px 20px 20px 0px;
	height: 200px;
	border: 1px solid #eee; 
	padding:10px 40px 40px 40px;
	background: #eee;
	font-style: "comic sans"; 
}

footer {
	background: #eee;
	height: 100px;
}

/*.buttonClass {
	margin: 20px;
}
*/